<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_0yfsb3a1.json"  background="transparent"  speed="1"  style="width: 450px; height: 450px;"  loop  autoplay></lottie-player>
  </div>
  <div class="headings">
    <h2>QStack SignUp</h2>
    <h3>By Developers For Developers</h3>
    <a href="/tutorSignup" class="btn">tutor Signup</a>
    <a href="/learnerSignup" class="btn">learner Signup</a>
    <a href="/profile" class="btn">VIEW PROFILE</a>

  </div>
</header>


<%- include('partials/footer'); -%>