<%- include('partials/header'); -%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <div class="cover-photo">
      <!-- <img src="https://ui-avatars.com/api/?name=James+Carson&background=random&color=000&bold=true&format=svg" class="profile"> -->
      <img src="https://ui-avatars.com/api/?name=James+Carson&background=random&color=000&bold=true&format=svg" class="profile">
  </div>
  <h3 class="profile-name">James Carson</h3>
  <p class="about">Lorem ipsum dolor sit amet. <br>
      UI/UX Designer <br> Front End Developer</p>
  <button class="btn">Message</button>
  <button class="btn">Following</button>
  <div class="icons">
      <i class="fa-brands fa-linkedin  "></i>
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-youtube"></i> 
      <i class="fa-brands fa-twitter"></i>
  </div>
</div>

<%- include('partials/footer'); -%>